/* @tailwind base; 
@tailwind components; 
@tailwind utilities;  */


.navbarcolor{
    background-color: red!important;
}

.MuiSlider-root {
    color: #4220b2;
  }
  
  .MuiSlider-root:hover {
    color: red;
  }

  .ScrollStyle
  {
      height: 550px;
      overflow-y: scroll;
    
  }

  /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .ScrollStyle::-webkit-scrollbar-track {
    background: #586686;
  }
  
  /* Handle */
  /* .ScrollStyle::-webkit-scrollbar-thumb {
    background: #0057FF;
  }
   */
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
   
    background: #0057FF;
  }